@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:none;

}

body{
    font-family: Lato, sans-serif;
    background-color:#fff;
    color:black;
    margin:0;
}

a{
    text-decoration: none;
}

header{
    overflow: hidden;
}

h1, h2{
    font-family: Montserrat, sans-serif;
    color:#fff;
    text-transform: uppercase;
}

hr{
    border-top: 1px solid #fff;
    width:80%;
    margin: 5px 0 10px 0;
}

#logo{
    float:left;
    background-color: rgb(10, 9, 105);
    font-size: 200%;
    padding:0 20px 0 20px;
}

#outer-hero{
    width: 100%;
    height:600px;
    margin:0 auto;
    position: relative;
}

#hero-pic{
    width:100%;
    height: 600px;
    background:url("../images/rsz_pexels-jeremy-bishop-2765872.jpg") no-repeat center center;
    background-size: cover;
    margin: inherit;
    position: relative;
    background-color: rgb(10, 9, 105);
    background-blend-mode:lighten;


}

#gradient-layer{
    width:100%;
    height:300px;
    position: absolute;
    left:0;
    top: 300px;
    background-image: linear-gradient(
     rgba(10, 9, 105, 0),
     rgba(9, 8, 43, 0.4),
     rgba(10, 9, 105,.7),
     rgba(10, 9, 105,1));
}

/*cover box front page*/

#coverbox-front{
    position: absolute;
    left:8%;
    top:160px;
    height:200px;
    width: 89%;
    background-color: rgba(10, 9, 105, 0.6);
    padding-left:3%;
    padding-top:30px;
    animation: ani_hero 0.6s forwards;
}

#coverbox-front h3{
    font-size:160%;
    color:#fff;
    margin-top:14px;
    animation: ani_head3 3s forwards;

}

#coverbox-front h2 {
    font-size: 250%;
    
}

/*animation for hero pic*/

@keyframes ani_hero{
    0%{
        left:50%;
    }
    100%{
        left:8%;
    }
}
@keyframes ani_head3{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*Header Menu*/

header{
    background-color: #fff;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li{
    float:right;
    list-style-type: none;
    padding:0;
}

.nav-button{
    padding:25px 10px;
    text-decoration: none;
    font-weight: bold;
    color:inherit;
}

/*Making the menu and logo same line*/

#menu, h1{
    line-height: 85px;
}

/*Creating a selected UI*/

.selected{
    background-color: rgb(10, 9, 105);
}

.selected > a{
    color:#fff;
}

.trigger-hover:hover, a:hover{
    background-color: rgb(10, 9, 105);
    color:#fff;
}

/*Middle Section*/

#middle{
    height:500px;
    background:rgb(10, 9, 105);
    padding-left:20px;
    padding-right:20px;
}

#left-part{
    width:33%;
    float:left;
    margin:0 auto;
    padding-top: 4rem;
}

#right-part{
    width: 33%;
    float:right;
    padding-top: 4rem;
}

.text-box{
    width:80%;
    margin:0 auto;
}

#middle p{
    color:#fff;
    letter-spacing: 3px;
    line-height: 40px;
}

/*Images on the Middle*/

.circle-container{
    height: 300px;
    width: 300px;
    margin:0 auto;
    padding-top: 4rem;
}

#image-rounded{
    background:url('../images/pexels-ron-lach-9034660sqr-min.jpg') no-repeat center center;
    background-size: cover;
    height:100%;
    border-radius:50%;
}

/*Activities*/

#activities-cotnainer{
    background:url('../images/mark-harpur-foydNaDU-Rg-unsplash-min.jpg') no-repeat center center;
    background-color:rgb(66, 85, 255);
    background-blend-mode: lighten;
    background-size:cover;
    height:100%;
    width:100%;
    overflow: hidden;
}

#activities-cotnainer div{
    color:#fff;
    background-color:rgba(0, 0, 0, .6);
    width:33.33%;
    height:400px;
    float:left;
    text-align: center;
    border: 2px solid rgb(10, 9, 105);
    box-sizing: border-box;
    padding:50px 0 20px 0 
}

#activities-cotnainer h2{
    color: #fff;
    padding-bottom: 50px;
    font-weight: bolder;
    font-size: 250%;
}
#activities-cotnainer h3{
    padding:15px;
    font-size: 150%;
}

/*Contact*/

#contact-boxes{
    width:66%;
    margin:0 auto;
    height:250px;
}

#adress-box{
    width:250px;
    margin-top: 10px;
    float:left;
}

#phonemail-box{
    width:250px;
    margin-top: 10px;
    float:right;
}

#contact > h2{
    color:rgb(10, 9, 105);
    text-align: center;
    margin-top: 3rem;
    font-size: 230%;
    font-weight: bolder;
}

#contact  h3, #contact h2{
    color:rgb(10, 9, 105);
}

#contact hr{
    border-top:2px solid rgb(10, 9, 105);
    width:40%;
}

/*Footer*/

footer{
    background-color:rgb(10, 9, 105);
    height:100px;
}

footer ul{
    text-align: center;
}

footer ul > li{
    display: inline-block; 
}

footer ul i{
    font-size: 160%;
    margin:1%;
    padding:30px;
    color:#fff;
}

/*Stying for the infogallery*/

.cards{
    width: 85%;
    height:500px;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
}

#info-content{
    background-color: rgb(198, 191, 240);
}

#info-content > h2{
    padding: 20px;
    font-size: 250%;
    color: rgb(10, 9, 105);
    text-align: center;
}

#person{
    background: url("/assets/images/pexels-julia-m-cameron3.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 8px;
}

/*styling for the different overlayers in the cards*/
/*person container*/

#overlay-person{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to left, 
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .2), 
    rgba(0, 0, 0, 0));
    border-radius: 8px;
}

#overlay-person ul{
    width: 40%;
    clear: right;
    float:right;
    margin-top:30px;
    margin-right: 6px;
    list-style: none;
}

#overlay-person ul li{
    color: #fff;
    font-size: 140%;
    margin:30px auto;
    letter-spacing: 1mm;
}

#overlay-person h3{
    width: 40%;
    color: #fff;
    font-size: 150%;
    float: right;
    margin-top: 80px;
    margin-right:6px;
    letter-spacing: 0.5mm;
    text-transform: uppercase;

}

/*middle Section*/

.middle-card{
    height:300px;

}

.middle-card > div{
    text-align: center;
    width: 33.33%;
    height:300px;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 80px 0 20px 0;
    float:left;
    
}
.middle-card p{
    color: #fff;
    letter-spacing: 0.4mm;
    text-transform: uppercase;
}

.middle-card h3{
    font-size: 400%;
    font-weight:900;
    color: #fff;

}

#middle-section{
    border-radius: 8px;
    background-color: rgb(10, 9, 105);
}

#center{
    margin: 0 auto;
}

/*To Do*/

#todo{
    background: url("/assets/images/pexels-marta-ortigosa-3480494-min.jpg") no-repeat center center;
    background-size: cover;
    transform: scaleX(-1);
    border-radius: 8px;
}

#overlay-todo{
    transform: scaleX(-1);
    width:100%;
    height:500px;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .9),
    rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, 0));
    border-radius: 8px;
}

#overlay-todo h3{
    color:#fff;
    font-size: 150%;
    float:left;
    margin-top: 80px;
    margin-left: 30px;
    letter-spacing: 0.5mm;
    text-transform: uppercase;
    


}

#overlay-todo ul{
    margin-top: 30px;
    margin-left: 30px;
    color: #fff;
    clear: left;
    float: left;
    list-style: none;
}

#overlay-todo li{
    color: #fff;
    font-size: 140%;
    margin: 55px auto;
    letter-spacing: 1mm;
}


/*Styling for the form*/

#main-form{
    width:100%;
    height: 900px;
    background: url('../images/together_beach_smaller.jpg') no-repeat center center;
    background-size: cover;
    background-color:rgb(10, 9, 105);
    background-blend-mode:luminosity;
    position: relative;
}

#cover-box{
    width:50%;
    height: 600px;
    align-items: center;
    position: absolute;
    top:40%;
    left:50%;
    background-color: rgba(10, 9, 105, .33);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px rgba(0, 0, 0, .33);
    transform: translate(-50%, -50%);
    border-radius: 8px;
    animation: ani1 1s ease-out forwards;
    opacity: 0;
}

/*Animation for the form*/

@keyframes ani1{
    100%{
        opacity: 1;
    }
}

#signup-form{
    padding:60px;
}

#cover-box > h2{
    font-size: 200%;
    text-align: center;
    margin-top:10px;
}

#signup-form h2{
    text-align: center;
    margin-bottom:10px;
}

label{
    color:#fff;
    font-size: 120%;
}

.text-input{
    color:#fff;
    background:transparent;
    width:100%;
    border:2px solid #fff;
    height:25px;
    margin:8px 0 25px 0;
    border-radius:5px;
}

.text-input:hover{
    border-color:rgb(10, 9, 105);
}

.submit-button{
    color:rgb(10, 9, 105);
    font-size: 150%;
    padding:15px;
    display: block;
    margin-top:2.5rem;
    background-color: rgb(172, 170, 248);
    border-radius: 5px;
}

.submit-button:hover{
    border: 3px solid #fff;
}

/*Media Query*/

@media screen and (max-width:1200px) {

    .middle-card h3{
        font-size: 300%;
    }
    
    .middle-card p {
        font-size: 90%;
    }
    
    #left-part, #right-part{
        width: 100%;
        float:left;
    }

    .circle-container{
        clear:both;
        margin:0 auto;
    }

    #middle{
        height:100%;
        margin: 0 auto;
    }

    hr{
        width: 100%;
    }

    #middle h2{
        text-align: center;
    }
}



@media screen and (max-width:900px) {

    /*Queries for the home*/

    #activities-cotnainer div{
        width:100%;
        clear:both;
        height:300px;
        padding:0;
    }
}

@media screen and (max-width:850px) {
    
    /*Queries for the form*/

    #main-form{
        width:104%;
    }
    
    #logo{
        color:rgb(10, 9, 105);
        background-color: #fff;
        font-weight:bolder;
        clear:both;
        text-align: center;
        margin: 0 auto;
    }

    #menu{
        clear:both;
        float:left;
        margin-left:0px;
        margin-bottom:0px;
        line-height: 25px;
    }

    .nav-button{
        padding:0; 
    }
    
    #contact-boxes{
        margin:0 auto;
        padding:0; 
    }

    #phonemail-box, #adress-box{
        float:none;
        margin:30px auto;
        text-align: center;
    }

    #contact-boxes hr{
        width: 100%;
    }
}

@media screen and (max-width:778px) {

    .middle-card p {
        font-size: 80%;
    }
    .middle-card h3 {
        font-size: 250%
    }

    #overlay-person ul li {
        letter-spacing: 0.4mm;
        font-size: 120%;
    }

    #overlay-person h3{
        font-size: 120%;
    }

    #menu li{
        padding:10px;
    }

    #cover-box{
        height:800px;
        top:50%;
    }

    #middle{
        height:1000px;
    }
}

@media screen and (max-width:450px) {

    #overlay-todo{
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    }

    #overlay-todo li{
        width: 100%;
        font-size:110%;
        margin: 30px auto;
        text-align: center;
    }

    #overlay-todo h3{
        font-size: 110%;
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 50%;
    }

    .middle-card h3{
        margin-top: 17px;
    }

    .middle-card > div{
        width: 100%;
        clear: both;
        height: 100px;
        padding: 0;
    }

    #overlay-person{
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    }

    #overlay-person ul {
        width:100%;
        margin:0 auto;
        text-align: center;
        padding-top: 50px;
    }

    #overlay-person h3 {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-top: 50%;

    }

    .cards {
        width: 100%;
    }

    #middle{
        height:1500px;
        padding-left:0px;
        padding-right:0px;
    }

    #cover-box{
        width:100%;
        height:800px;
    }

    #logo{
        width:100%;
        padding: 0;
    }
}

/*Really Small screens*/
@media screen and (max-width:425px) {

    #cover-box{
        width:100%;
        height:800px;
    }
}

@media screen and (max-width:375px){
    #logo{
        font-size: 160%;
    }
}
